<div class="main">

<div class="main-left">  
 <div class="left-top">
   <div class="side-top">
    
　  <div class="side-headder__box">
   <p class='side-header__box__user-name'>浩平森</p>
    <ul class='side-header__box__menu'>
　  <li class='side-header__box__menu__new-group'>
　  <a href="/groups/new"><i class="fa fa-edit"></i>
　  </a></li>
　  <li class='side-header__box__menu__edit-user'>
　  <a href="/users/1057/edit"><i class="fa fa-cog"></i>
　  </a></li>
　  </ul>


     </div>
   </div>
  </div>
 </div>
 
<div class="main-right">
 
 <div class="right-top">
  kouhei
  </div>
  <div class="right-middle">
  </div>
   <div class="right-bottom">
  </div>
 



</div>







