.main
  .main-left
    .left-top
      .side-top
        　
        .side-headder__box
          %p.side-header__box__user-name 浩平森田
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group>
  　　　　　　   %a{:href => "/groups/new"}
    　　　　　　%i.fa.fa-edit
            %a{:href => "/users/1057/edit"}
                %i.fa.fa-cog

                
              　
              
                　
            　
            
              　
              
            　
  .main-right
    .right-top
       kouhei
       .main-header__edit-btn 
        Edit

    .right-middle
    .right-bottom
