.main {
  

  

}

.main-left {
  
  background-color: #0ae4e4;
  color: #fff;
  height: 900px;
  width: 300px;
  float:left;
  

}
.left-top {
  
  background-color: #0c0808;
  color: #fff;
  height: 200px;
  width: 300px;
  float:left;
}

.side-top{
  
  background-color: #dc792dd7;
  color: #fff;
  height: 100px;
  width: 300px;
  margin-top: 50px;
  float:left;
}

.side-headder__box{
  
  background-color: #03f528d7;
  color: #fff;
  height: 50px;
  width: 300px;
  margin-top: 5px;
  float:left;
}

.side-header__box__user-name{
  
  background-color: #f50303d7;
  color: #fff;
  height: 30px;
  width: 300px;
  margin-top: 8px;
  float:left;
}

.side-header__box__menu{
  
  background-color: #701cc4d7;
  color: #fff;
  height: 15px;
  width: 100px;
  margin-top: -40px;
  float:right;
}

.i.fa.fa-edit{
  
  background-color: #010106d7;
  color: #fff;
  height: 15px;
  width: 100px;
  margin-top: -59px;
  float:right;
}
  















.main-right {
  
  background-color: #f01c63;
  color: #fff;
  height: 900px;
  width: 1000px;
  float:left;
  

}

.right-top {
  
  background-color: #271cf0;
  color: rgb(242, 239, 239);
  font-size: 30px;
  height: 200px;
  width: 1000px;
  float:left;
  

}

.main-header__edit-btn{
  
  background-color: #f01c3f;
  color: #fff;
  font-size: 30px;
  height: 50px;
  width: 30px;
  
  

}




.right-middle {
  
  background-color: yellow;
  color: #fff;
  height: 500px;
  width: 1000px;
  float:left;
  

}
.right-bottom {
  
  background-color:green;
  color: #fff;
  height: 200px;
  width: 1000px;
  float:left;
  

}


/*
 *= require font-awesome
 */





  
















